<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>

  <% records.each do |record| %>
    <div>
      <%= link_to record.text, record %>
    </div>
  <% end %>
<% end %>
<div class="contents row">
  <div class="success">
    <h1>設定完了</h1>
    <a class="btn" href="aspirations#show">詳細ページに戻る</a>
  </div>
</div>